# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest / Coverage
.cache
.pytest_cache/
.coverage
.coverage.*
htmlcov/
xmlcov/
nosetests.xml
coverage.xml
*.cover
*.py:gcov
.hypothesis/

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environments & AppData
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.aeromesh/

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
